@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inconsolata:wght@300&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
    --main-font: hsl(#063d38);
    --label-font: darkslategrey

}
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* Below is my attempt to position the left side (image), the right side (form and text) and also position an image on top of an img. I am struggling with getting the 'fake' logo to both be in the middle of bigger image and grow and shrink relative to the bigger image... 
*/

.main-container {
    display: flex;
    height: 100vh;
}
.picture-container {
    border:1px red solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-picture {
    margin: 0px;
    height: 100vh;
    width: auto;
    ;;
} 

img:last-of-type {
    width: auto;
    height: 5em;
    flex: 1 1 0;
    
}
.img-card {
    position: absolute;
    width: 10em;
    top: 10em;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

/* The css is below is focused on the right container. 
*/
.right-container {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    background: whitesmoke;
}

.right-container>* {
    

}

.container.bottom {
    
    
    
}
.container.top {
    
}

.text-box, .container.bottom, .container.top {
    padding-left: 40px;
}

.container.bottom {
    margin-top: 30px;
}
.text-box>* {
    margin-top: 20px;
    width: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 200;
}
.text-box{
    padding-bottom: 20px;
    padding-top: 30px
    
}
.container.top {
    background: rgb(255, 255, 255);
    box-shadow: 5px 3px 8px hsl(0, 0%, 20%);
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 25px;
}

.container.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 600px;
}
.combo {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    width: 200px;
}
label, h2  {
    text-transform: uppercase;
}
input{
    border: 1px #E5E7EB solid;
}

h2 {
    padding-top: 2px;
    padding-bottom: 8px;
    font-weight: bold;
    letter-spacing: 1px;
}
button {
    padding: 8px 40px 8px 40px;
    border-radius: 5px;
    border: 0px;
    color: snow;
    background: rgb(106, 106, 106);
    font-size: 14px;
}
.container.bottom>p {
    font-size: 14px;
    margin-top: 20px;
}

input:focus{
    border: 1px darkblue solid;
    box-shadow: 3px 2px 1px rgb(128, 127, 127);
}

a {
    color: slategray;
    text-decoration: none;
}
a:after {
    color: darkolivegreen;
}

